.Report-parent{
    position: absolute;
    left: 15%;
    top: 0%;
    height: 100vh;
    
   
 }
 /* Styles for the parent container */
.Report-parent {
    padding: 20px;
  }
  
  /* Styles for the buttons */
  .Report-parent button {
    background-color: #008cba;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .Report-parent button:hover {
    background-color: greenyellow
  }
  
  /* Styles for the tables */
  .Report-parent table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    
  }
  
  /* Styles for the table header cells */
  .Report-parent th {
    background-color: #008cba;
    color: white;
    padding: 8px;
  }
  
  /* Styles for the table data cells */
  .Report-parent td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  /* Styles for alternating row colors */
  .Report-parent tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  .table-head{
    overflow-y: scroll;
  }
  